@use "./scss/" as *;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 100%;

  @include tablet {
    font-size: 80%;
  }

  @include mobile {
    font-size: 60%;
  }
}

body {
  font-family: $font-family;
  font-weight: 400;
  line-height: 1.5;

  background-color: $body-bg;
  color: $txt-color;

  @include mobile {
    margin-bottom: 3rem;
  }
}

a {
  text-decoration: none;
  color: unset;
}

@media (hover: hover) {
  a:hover {
    color: $main-color;
  }
}

button,
input {
  outline: 0;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
}

iframe {
  border: 0;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 2rem;
  
  @include mobile {
    padding: 0 1rem;
  }
}

.mb-3 {
  margin-bottom: 3rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.section {
  padding: 3rem 0;
  
  @include mobile {
    padding: 2rem 0;
  }
}

.section__header {
  @include flex(center, space-between);
  margin-bottom: 2.5rem;
  
  h2 {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: -0.5px;
    position: relative;
    padding-bottom: 0.5rem;
    
    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 60px;
      height: 3px;
      background: linear-gradient(90deg, $main-color, transparent);
      border-radius: 2px;
    }
    
    @include mobile {
      font-size: 1.5rem;
    }
  }
}
